@import "tailwindcss";


/* Use system font as fallback for Circular TT Book if not available */
@font-face {
  font-family: 'Circular TT Book';
  src: local('Circular TT Book');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Circular:'Circular TT Book';
  --font-sans: 'Circular TT Book', system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Circular TT Book', sans-serif !important;
}
